<!-- Footer -->
<footer class="bg-dark text-white text-center py-3">
    <div class="container mb-3">
        <p class="mb-0">&copy; 2025 Tüm Hakları Saklıdır.</p>
        <small class="d-block">
            Created by
            <a href="https://www.linkedin.com/in/atakan-y%C3%BCksel-063492192/" target="_blank" class="text-white text-decoration-none">
                Atakan Yüksel
            </a>
        </small>
    </div>
</footer>