<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Libre+Caslon+Display&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Serif+Hentaigana:wght@200..900&display=swap" rel="stylesheet">
    <title>Hakkımızda - Örnek Sayfa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/StyleSheet.css" />

</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top px-3 py-3 shadow-sm">
        <div class="container">
            <a class="navbar-brand me-1" href="/">
                <img src="~/img/logo.png" alt="Logo" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                    aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="mainNavbar">
                <ul class="navbar-nav gap-5 fs-4">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Anasayfa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Team">Ekibimiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Services">Hizmetlerimiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Contact">İletişim</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

@RenderBody()

@Html.Partial("_Footer")

	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.4/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://kit.fontawesome.com/yourkit.js" crossorigin="anonymous"></script>
</body>
</html>

