<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Libre+Caslon+Display&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Serif+Hentaigana:wght@200..900&display=swap" rel="stylesheet">
    <title>Hukuk Bürosu - Portfolyo</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">

</head>


    <body>

        @RenderBody()

    </body>
<!-- Footer -->
<footer class="footer">
    <p>© 2024 Hukuk Bürosu. Tüm Hakları Saklıdır.</p>
</footer>

</html>
@*         <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hukuk Bürosu</title>
        <link href="~/StyleSheet.css" rel="stylesheet" /> *@