@{
    ViewData["Title"] = "Hakkımızda | Abdulhakimoğulları Hukuk Bürosu";
}

<!-- HERO -->
    <section class="hero position-relative">
        <div class="container-fluid px-0">
            <img src="~/img/background-homepage.png" class="img-fluid w-100" alt="Banner"
                 style="height: 50vh; object-fit: cover;">
            <!-- Overlay -->
            <div class="position-absolute top-0 start-0 w-100 h-100" style="background: rgba(0, 0, 0, 0.5);"></div>

            <!-- Sol alt köşedeki yazı ve çizgi -->
            <div class="position-absolute bottom-0 start-0 text-white p-4 bg-dark bg-opacity-75 rounded-top-end">
                <h1 class="display-4 fw-bolder mb-2">Hakkımızda</h1>
                <div class="border-top border-light" style="width: 100%; height: 2px;"></div>
            </div>
    </section>
    <!-- Content -->
    <main>
    <div class="row justify-content-center my-5">
        <div class="col-12 col-lg-10">
            <div class="row gx-4 gy-4">
                <!-- İçerik Bölümü -->
                <div class="container-md">
                    <div class="row align-items-center">

                        <!-- Metin Kısmı -->
                        <div class="col-md-6">
                            <div class="text-section  fs-5">
                                <p>
                                Abdulhakimoğulları Hukuk bürosu, 2017’den beri her biri alanlarında uzman hukukçu kadrosu ile birçok
                                kurum ve kişiye, çeşitli alanlarda, hukuki danışmanlık ve arabuluculuk hizmeti sunan uluslararası bir
                                hukuk bürosudur. Büromuz uluslararası üne sahip firmalarla beraber küçük işletmeler ve bireysel
                                girişimcilere de hizmet vermektedir.
                                </p>
                                <p>
                                Başta İş ve Sosyal Güvenlik Hukuku ile İş Sağlığı ve Güvenliği Hukuku,  Dernekler Hukuku, İcra ve
                                İflas Hukuku ve  Aile Hukuku olmak üzere, İdare Hukuku, Şirketler Hukuku uygulamaları, ihale
                                sözleşme-şartname süreçlerinin doğru yönetilmesi, beyaz yaka suçları, İş Hukuku ve toplu İş Hukuku
                                uygulamaları, Kişisel Verilerin Korunması Kanunu’na uyum, Rekabet Hukuku, sektörel izin/
                                lisans/ruhsatların alınması, taşınır ve taşınmaz mal kiralama ve satış sözleşmelerinin hazırlanması, ticari
                                uyuşmazlıkların barışçıl ve hukuki yollardan çözümü ve alacakların tahsili dahil olmak üzere pek çok
                                alanda ulusal ve uluslararası müvekkillerine hukuki danışmanlık ve avukatlık hizmeti sunmaktadır.
                                Geniş bilgi ve tecrübelerimiz gerekli olduğunda uygun ve pratik bir şekilde hizmet vermemizi sağlayan
                                etkin teknoloji kullanımı ile desteklenmektedir.
                                </p>
							    <p>
								Abdulhakimoğulları Hukuk Bürosu başta İstanbul olmak üzere Türkiye'nin her yerinde bulunan yetkin
								avukatlık büroları ile işbirliği içerisindedir. Müşavirliğimizce, tüm müvekkilerimize Türkçe ve İngilizce
								hukuki destek sağlanmaktadır.
							    </p>

                            
                            </div>
                        </div>

                        <!-- Görsel Kısmı -->
                        <div class="col-md-6 text-center">
                            <img src="~/img/Maskgroup.png" alt="Görsel" class="img-fluid">
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

