
    <!-- HERO -->
    <section class="hero position-relative">
        <div class="container-fluid px-0">
            <img src="~/img/background-homepage.png" class="img-fluid w-100" alt="Banner"
                 style="height: 50vh; object-fit: cover;">
            <!-- Overlay -->
            <div class="position-absolute top-0 start-0 w-100 h-100" style="background: rgba(0, 0, 0, 0.5);"></div>

            <!-- Sol alt köşedeki yazı ve çizgi -->
            <div class="position-absolute bottom-0 start-0 text-white p-4 bg-dark bg-opacity-75 rounded-top-end">
                <h1 class="display-4 fw-bolder mb-2">Hakkımızda</h1>
                <div class="border-top border-light" style="width: 100%; height: 2px;"></div>
            </div>
    </section>
    <!-- Content -->
    <div class="row justify-content-center my-5">
        <div class="col-12 col-lg-10">
            <div class="row gx-4 gy-4">
                <!-- İçerik Bölümü -->
                <div class="container-md">
                    <div class="row align-items-center">

                        <!-- Metin Kısmı -->
                        <div class="col-md-6">
                            <div class="text-section  fs-5">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nisi metus, venenatis sed rutrum in, semper sit amet ipsum. Nullam malesuada mauris felis, eget tempus purus ornare vel. Fusce faucibus odio nibh, pharetra viverra nunc tincidunt eu.
                                </p>
                                <p>
                                    Curabitur quis aliquam lorem. Aliquam pretium nulla nec rutrum facilisis. Vivamus ut tempor orci. Suspendisse potenti. Nunc vitae nibh feugiat, posuere metus ac, feugiat erat. Phasellus pulvinar elit in tellus lobortis bibendum.
                                </p>
                                <p>
                                    Mauris hendrerit, ipsum vel facilibus vestibulum, nisi libero vestibulum velit, vitae ornare augue sem at orci. Donec eu lacus tortor. Proin ornare nisi quis ex accumsan dictum.
                                </p>
                            </div>
                        </div>

                        <!-- Görsel Kısmı -->
                        <div class="col-md-6 text-center">
                            <img src="~/img/Maskgroup.png" alt="Görsel" class="img-fluid">
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<footer class="bg-dark text-white text-center py-3 mt-5">
    <div class="container mb-5">
        <p class="mb-0">&copy; 2025 Tüm Hakları Saklıdır.</p>
        <small>(Kahve molasına çıkan ekip üyeleri, birazdan geri gelecek!)</small>
    </div>
</footer>
