@{
    ViewData["Title"] = "Anasayfa | Abdulhakimoğulları Hukuk Bürosu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- HERO -->
<header class="hero-h">
    <div class="container hero-text mb-5">
        <h1 class="fw-bold hero-title">ABDULHAKİMOĞULLARI HUKUK & ARABULUCULUK BÜROSU</h1>
        <hr>
    </div>
</header>

