@model LawFirmWebPage.Models.LoginPerson
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/StyleSheetLog.css" rel="stylesheet" />
    <title>Login</title>
</head>

<body>
    <div class="login-container">
        <h2>Giriş Yap</h2>

        <!-- Form -->
        <form action="Login" method="POST">
            <label for="Name">Kullanıcı Adı</label>
            <input name="Name" id="Name" type="text" placeholder="Kullanıcı Adı" required />

            <label for="Password">Şifre</label>
            <input name="Password" id="Password" type="password" placeholder="Şifre" required />

            <input type="submit" value="Giriş">
        </form>


    </div>
</body>

</html>
