    <!-- Bölüm 1: Anasayfa -->
    <section id="anasayfa" class="section">
        <!-- Navbar -->
        <header class="navbar">
            <!-- Menü -->
            <ul class="navbar">
                <!-- Logo -->
                <img src="logo1.png" alt="Logo" class="logo">
                <li class="nav-item"><a href="#anasayfa">Anasayfa</a></li>
                <li class="nav-item"><a href="#ozgecmis">Kurucunun Özgeçmişi</a></li>
                <li class="nav-item"><a href="#tecrube">Tecrübemiz</a></li>
                <li class="nav-item"><a href="#misyon-vizyon">Misyonumuz &amp; Vizyonumuz</a></li>
                <li class="nav-item"><a href="#iletisim">Iletisim</a></li>
            </ul>
        </header>

        <div class="content-hp">
            <h1>ABULHAKİMOĞULLARI HUKUK BÜROSU</h1>
            <hr>
        </div>

    </section>

    <!-- Bölüm 2: Kurucunun Özgeçmişi -->
    <section id="ozgecmis" class="section">
        <h1>Hakkımızda</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nisi metus, venenatis sed rutrum in, semper sit amet ipsum. Nullam malesuada mauris felis, eget tempus purus ornare vel. Fusce faucibus odio nibh, pharetra viverra nunc tincidunt eu. Curabitur quis aliquam lorem. Aliquam pretium nulla nec rutrum facilisis. Vivamus ut tempor orci. Suspendisse potenti. Nunc vitae nibh feugiat, posuere metus ac, feugiat erat. Phasellus pulvinar elit in tellus lobortis bibendum. Suspendisse ut metus sit amet elit molestie porta. Mauris hendrerit, ipsum vel faucibus vestibulum, nisi libero vestibulum velit, vitae ornare augue sem at orci. Donec eu lacus tortor. Proin ornare nisi quis ex accumsan dictum. Donec aliquet arcu nec interdum consequat. Aenean porttitor fringilla rhoncus.</p>

        <p> Suspendisse tempor aliquet hendrerit. Maecenas placerat fermentum pellentesque. Phasellus pharetra at quam eget pretium. Sed cursus convallis diam. Sed vitae vulputate lacus. Aliquam congue vehicula tellus in venenatis. Aliquam erat volutpat. Praesent sagittis urna in velit mattis, non finibus purus vulputate. Maecenas id nunc vitae mi ullamcorper ornare. Nulla vel enim tempus, pellentesque metus vitae, auctor libero. Nullam facilisis volutpat sapien a mattis.</p>
    </section>



    <!-- Bölüm 3: Tecrübemiz -->
    <section id="tecrube" class="section">
        <h1>Tecrübemiz</h1>
        <p>Yılların verdiği deneyim ve başarılarımızın özet bilgileri.</p>
    </section>

    <!-- Bölüm 4: Misyonumuz & Vizyonumuz -->
    <section id="misyon-vizyon" class="section">
        <h1>Misyonumuz &amp; Vizyonumuz</h1>
        <p>Hukuk büromuzun misyonu, vizyonu ve geleceğe yönelik hedefleri.</p>
    </section>

    <!-- Bölüm 5: Adresimiz ve Çalışma Saatlerimiz -->
    <section id="iletisim" class="section">
        <h1>Adresimiz ve Çalışma Saatlerimiz</h1>
        <p>Ofisimizin konumu, iletişim bilgileri ve çalışma saatlerimiz.</p>
    </section>





