@{
    ViewData["Title"] = "Hizmetlerimiz | Abdulhakimoğulları Hukuk Bürosu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- HERO -->
<section class="hero position-relative">
    <div class="container-fluid px-0">
        <img src="~/img/background-homepage.png" class="img-fluid w-100" alt="Banner"
             style="height: 50vh; object-fit: cover;">
        <!-- Overlay -->
        <div class="position-absolute top-0 start-0 w-100 h-100" style="background: rgba(0, 0, 0, 0.5);"></div>

        <!-- Sol alt köşedeki yazı ve çizgi -->
        <div class="position-absolute bottom-0 start-0 text-white p-4 bg-dark bg-opacity-75 rounded-top-end">
            <h1 class="display-4 fw-bolder mb-2">Hizmetlerimiz</h1>
            <div class="border-top border-light" style="width: 100%; height: 2px;"></div>
        </div>
</section>
<main>
    <!-- Content -->
    <div class="row justify-content-center my-5">
        <div class="col-12 col-lg-10">
            <div class="row gx-4 gy-4">
                <!-- Hizmet Kartları -->
                <div class="container text-center">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card h-100">
                                <img src="~/img/placeholder.jpg" class="card-img-top" alt="İş ve Sosyal Güvenlik Hukuku">
                                <div class="card-body">
                                    <h3 class="card-title">İş ve Sosyal Güvenlik Hukuku</h3>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card h-100">
                                <img src="~/img/placeholder.jpg" class="card-img-top" alt="İş Sağlığı ve Güvenliği Hukuku">
                                <div class="card-body">
                                    <h3 class="card-title">İş Sağlığı ve Güvenliği Hukuku</h3>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card h-100">
                                <img src="~/img/placeholder.jpg" class="card-img-top" alt="Dernekler Hukuku">
                                <div class="card-body">
                                    <h3 class="card-title">Dernekler Hukuku</h3>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card h-100">
                                <img src="~/img/placeholder.jpg" class="card-img-top" alt="İcra ve İflas Hukuku">
                                <div class="card-body">
                                    <h3 class="card-title">
                                        İcra ve İflas Hukuku
                                    </h3>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card h-100">
                                <img src="~/img/placeholder.jpg" class="card-img-top" alt="İdare Hukuku">
                                <div class="card-body">
                                    <h3 class="card-title">İdare Hukuku</h3>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card h-100">
                                <img src="~/img/placeholder.jpg" class="card-img-top" alt="Şirketler Hukuku">
                                <div class="card-body">
                                    <h3 class="card-title">Şirketler Hukuku</h3>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card h-100">
                                <img src="~/img/placeholder.jpg" class="card-img-top" alt="Kişisel Verilerin Korunması Hukuku">
                                <div class="card-body">
                                    <h3 class="card-title">
                                        Kişisel Verilerin Korunması Hukuku
                                    </h3>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card h-100">
                                <img src="~/img/placeholder.jpg" class="card-img-top" alt="Bireysel ve Toplu İş Hukuku">
                                <div class="card-body">
                                    <h3 class="card-title">Bireysel ve Toplu İş Hukuku</h3>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card h-100">
                                <img src="~/img/placeholder.jpg" class="card-img-top" alt="Fikri ve Sınai Haklar Hukuku">
                                <div class="card-body">
                                    <h3 class="card-title">Fikri ve Sınai Haklar Hukuku</h3>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card h-100">
                                <img src="~/img/placeholder.jpg" class="card-img-top" alt="Ceza Hukuku">
                                <div class="card-body">
                                    <h3 class="card-title">Ceza Hukuku</h3>
                                    
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card h-100">
                                <img src="~/img/placeholder.jpg" class="card-img-top" alt="Aile Hukuku">
                                <div class="card-body">
                                    <h3 class="card-title">
                                        Aile Hukuku
                                    </h3>
                                    
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
