@{
    ViewData["Title"] = "Ekibimiz | Abdulhakimoğulları Hukuk Bürosu";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- HERO -->
<section class="hero position-relative">
    <div class="container-fluid px-0">
        <img src="~/img/background-homepage.png" class="img-fluid w-100" alt="Banner"
             style="height: 50vh; object-fit: cover;">
        <!-- Overlay -->
        <div class="position-absolute top-0 start-0 w-100 h-100" style="background: rgba(0, 0, 0, 0.5);"></div>

        <!-- Sol alt köşedeki yazı ve çizgi -->
        <div class="position-absolute bottom-0 start-0 text-white p-4 bg-dark bg-opacity-75 rounded-top-end">
            <h1 class="display-4 fw-bolder mb-2">Ekibimiz</h1>
            <div class="border-top border-light" style="width: 100%; height: 2px;"></div>
        </div>
</section>

<!-- Content -->
<main>
<div class="row justify-content-center my-5">
    <div class="col-12 col-lg-10 container" style="max-width: 1200px;">
        <div class="row gx-4 gy-4">

            <!-- Kartlar -->
            <div class="col-12 col-lg-8 d-flex flex-column gap-4">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-4 col-sm-3 col-md-4">
                            <img src="~/img/Woman.png" class="img-fluid rounded-start m-2" alt="Avukat Hande">
                        </div>
                        <div class="col-8 col-sm-9 col-md-8">
                            <div class="card-body">
                                <h4>Kurucu/Avukat</h4>
                                <h5 class="card-title">Hande ABDULHAKİMOĞULLARI</h5>
                                    <p class="card-text">Hande Abdulhakimoğulları, 2011 yılında Mersin Ticaret ve Sanayi Odası Anadolu Lisesi'ni tamamlamış ve ardından 2016 yılında Çağ Üniversitesi Hukuk Fakültesi'nden mezun olmuştur.
                                        Çalışma alanları arasında İş ve Sosyal Güvenlik Hukuku, İş Sağlığı ve Güvenliği Hukuku, Dernekler 
                                        Hukuku, Şirketler Hukuku, Ticaret Hukuku, İdare Hukuku ve Sigorta Hukuku yer almaktadır.</p>
                                    
                                    <p>
                                        e-mail : <a href="mailto:av.handeabdulhakimogullari@gmail.com" class="text-decoration-none">av.handeabdulhakimogullari@gmail.com</a
                                    </p>
                                    <p>
                                            linkedin : <a href="https://www.linkedin.com/in/hande-abdulhakimo%C4%9Fullar%C4%B1-4b5539234/" target="_blank" class="text-decoration-none">
    Hande ABDULHAKİMOĞULLARI
</a>

                                    </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="row g-0">
                        <div class="col-4 col-sm-3 col-md-4">
                            <img src="~/img/Man.png" class="img-fluid rounded-start m-2" alt="Avukat Burak">
                        </div>
                        <div class="col-8 col-sm-9 col-md-8">
                            <div class="card-body">
                                <h4>Kurucu/Avukat</h4>
                                <h5 class="card-title">Burak ABDULHAKİMOĞULLARI</h5>
                                    <p class="card-text">
                                        Burak Abdulhakimoğulları, 2011 yılında Adana Ticaret Anadolu Lisesi'ni, 2016 yılında ise Çağ Üniversitesi Hukuk Fakültesi'ni tamamlamıştır. 
                                        Çalışma alanları arasında İcra ve İflas Hukuku, Aile Hukuku, Fikri ve Sınaî Haklar Hukuku ve Ceza Hukuku bulunmaktadır.
                                    </p>

                                    <p>
                                        e-mail : <a href="mailto:burakabdulhakimogullari@gmail.com" class="text-decoration-none">burakabdulhakimogullari@gmail.com</a>
                                    </p>
                                    <p>
                                        linkedin : <a href="https://www.linkedin.com/in/burak-abdulhakimo%C4%9Fullar%C4%B1-408681234/" target="_blank" class="text-decoration-none">
    Burak ABDULHAKİMOĞULLARI
</a>
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sağdaki Görsel -->
            <div class="col-12 col-lg-4 d-flex justify-content-center align-items-start">
                <img src="~/img/Group.png" class="img-fluid" alt="Ekibimiz">
            </div>

        </div>
    </div>
</div>
</main>

